{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Mes collaborateurs</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped collaborators">
                            <caption class="agenda"><a href="{{ path('appointment_new') }}"><i class="far fa-calendar-check fa-lg"></i> Planifier un rendez-vous</a></caption>
                            <thead>
                            <tr>
                                <th scope="col" class="col-1 text-uppercase text-center">Nom</th>
                                <th scope="col" class="col-1 text-uppercase text-center">Prénom</th>
                                <th scope="col" class="col-3 text-uppercase text-center">Mail</th>
                                <th scope="col" class="col-3 text-uppercase text-center">Fonction</th>
                                <th scope="col" class="col-3 text-uppercase text-center">Résidence</th>
                                <th scope="col" class="col-1 text-uppercase text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for collaborator in collaborators %}
                                <tr>
                                    <td class="text-center align-middle">{{ collaborator.lastname }}</td>
                                    <td class="text-center align-middle">{{ collaborator.firstname }}</td>
                                    <td class="text-center align-middle">{{ collaborator.email }}</td>
                                    <td class="text-center align-middle">{{ collaborator.position.name }}</td>
                                    <td class="text-center align-middle">{{ collaborator.residence.city }}</td>
                                    <td class="text-center align-middle">
                                        <a href="{{ path('profile', {'user': collaborator.id}) }}"><i class="fas fa-arrow-circle-right"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Vous n'avez pas de collaborateur.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
