{% extends 'layout.html.twig' %}

{% block title %}Compte rendu de rendez-vous{% endblock %}

{% block body %}
<div class="container">
    <h1>Créer un compte rendu de rendez-vous</h1>
{{ form_start(form) }}
    {{ form_row ( form.summary ) }}
{{ form_widget(form) }}
    <button class="btn btn-primary mb-3">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
</div>
{% endblock %}