{% extends 'layout.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Toutes les images</h1>

        <a href="{{ path('image_new') }}" class="btn btn-primary mb-3">Ajouter une image</a>

        <table class="table">
            <thead>
            <tr>
                <th>Image</th>
                <th>URL de l'image</th>
                <th>Créée le</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for image in images %}
                <tr>
                    <td><img src="/upload/images/{{ image.imageName }}" alt="vignette" class="vignette"></td>
                    <td><input disabled class="copy-text" type="text" id="text-box" size="20" value="/upload/images/{{ image.imageName }}"> <a title="Copier l'URL"> <i class="fas fa-copy copy-button ml-2"></i></a></td>
                    <td>{{ image.createdAt ? image.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('image_show', {'id': image.id}) }}">Voir</a>
                        <a href="{{ path('image_edit', {'id': image.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune image</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('copyURL') }}
{% endblock %}

