{% extends 'layout.html.twig' %}

{% block title %}Content index{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card w-100 m-auto">
                    <div class="card-header text-center">
                        <h1>Tous les contenus</h1>
                    </div>
                    <div class="d-flex justify-content-md-start ml-4 mt-3">
                        <a href="{{ path('content_new') }}" class="btn btn-primary mb-3">Créer un nouveau contenu</a>
                        <a href="{{ path('category_new') }}" class="btn btn-primary ml-3 mb-3">Créer une nouvelle
                            catégorie</a>
                    </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Catégorie</th>
                            <th>Crée le</th>
                            <th>Crée par</th>
                            <th>Mis à jour le</th>
                            <th>Voir</th>
                            <th>Modifier</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for content in contents %}
                            <tr>
                                <td>{{ content.title }}</td>
                                <td>{{ content.category.name }}</td>
                                <td>{{ content.createdAt ? content.createdAt|date('d/m/Y') : '' }}</td>
                                <td>{{ content.user.firstname }} {{ content.user.lastname }}</td>
                                <td>{{ content.updatedAt ? content.updatedAt|date('d/m/Y') : '' }}</td>
                                <td>
                                    <a class="text-decoration-none"
                                       href="{{ path('content_show', {'id': content.id}) }}">Voir</a>
                                </td>
                                <td>
                                    <a class="text-decoration-none"
                                       href="{{ path('content_edit', {'id': content.id}) }}">Modifier</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">aucun enregistrement</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
