{% extends 'layout.html.twig' %}

{% block title %}ChecklistItem index{% endblock %}

{% block body %}
    <div class="container">
    <h1>L'index des éléments Checklist</h1>

    <table class="table text-white">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for checklist_item in checklist_items %}
            <tr>
                <td>{{ checklist_item.name }}</td>
                <td>{{ checklist_item.category }}</td>
                <td>
                    <a href="{{ path('checklist_item_show', {'id': checklist_item.id}) }}">Voir</a>
                    <a href="{{ path('checklist_item_edit', {'id': checklist_item.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('checklist_item_new') }}">Créer</a>
    </div>
{% endblock %}
