{% extends 'layout.html.twig' %}

{% block title %}IntegrationStep index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card w-100 m-auto">
                    <div class="card-header text-center">
                        <h1>L'index des étapes d'intégration</h1>
                    </div>
                    <div class="col-md">
                        <a class="btn btn-primary mb-3" href="{{ path('integration_step_new') }}">Ajouter une étape</a>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Description</th>
                                <th>Durée</th>
                                <th>Icône FontAwesome</th>
                                <th>Couleur</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for integration_step in integration_steps %}
                            <tr>
                                <td>{{ integration_step.name }}</td>
                                <td>{{ integration_step.description }}</td>
                                <td>{{ integration_step.duration }}</td>
                                <td>{{ integration_step.fontAwesome }}</td>
                                <td class="col-icon"><div class="color-icon" style="background-color: {{ integration_step.color }};"></div><span>{{ integration_step.color }}</span></td>
                                <td>
                                    <a class="text-decoration-none" href="{{ path('integration_step_show', {'id': integration_step.id}) }}">Voir</a>
                                    <a class="text-decoration-none" href="{{ path('integration_step_edit', {'id': integration_step.id}) }}">Modifier</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">aucun enregistrement</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
