{% extends 'layout.html.twig' %}

{% block title %}IntegrationStep{% endblock %}

{% block body %}
    <h1>IntegrationStep</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ integration_step.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ integration_step.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ integration_step.description }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ integration_step.duration }}</td>
            </tr>
            <tr>
                <th>FontAwesome</th>
                <td>{{ integration_step.fontAwesome }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('integration_step_index') }}">back to list</a>

    <a href="{{ path('integration_step_edit', {'id': integration_step.id}) }}">edit</a>

    {{ include('integration_step/_delete_form.html.twig') }}
{% endblock %}
