{% extends 'layout.html.twig' %}

{% block title %}IntegrationStep{% endblock %}

{% block body %}
    <div class="container">
    <h1>Étape d'intégration</h1>

    <table class="table text-white">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ integration_step.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ integration_step.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ integration_step.description }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ integration_step.duration }}</td>
            </tr>
            <tr>
                <th> Icône FontAwesome</th>
                <td>{{ integration_step.fontAwesome }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('integration_step_index') }}">Retour à la liste</a>

    <a href="{{ path('integration_step_edit', {'id': integration_step.id}) }}">Éditer</a>

    {{ include('integration_step/_delete_form.html.twig') }}
    </div>
{% endblock %}
