{% extends 'layout.html.twig' %}

{% block title %}IntegrationStep{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h1>Étape d'intégration</h1>
                    </div>
                    <table class="table text-white">
                        <tbody>
                            <tr>
                                <th>Nom</th>
                                <td>{{ integration_step.name }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ integration_step.description }}</td>
                            </tr>
                            <tr>
                                <th>Durée</th>
                                <td>{{ integration_step.duration }}</td>
                            </tr>
                            <tr>
                                <th> Icône FontAwesome</th>
                                <td>{{ integration_step.fontAwesome }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex align-items-end">
                        <button class="btn btn-primary mr-4 ml-4 mb-4">
                            <a class="text-white text-decoration-none" href="{{ path('integration_step_edit', {'id': integration_step.id}) }}">Modifier</a>
                        </button>
                        <div class="mb-4">
                            {{ include('integration_step/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <button class="btn btn-primary">
                    <a class="text-white text-decoration-none" href="{{ path('integration_step_index') }}">Retour</a>
            </button>
        </div>
    </div>
{% endblock %}
