{% extends 'layout.html.twig' %}

{% block title %}Residence{% endblock %}

{% block body %}
    <h1>Residence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ residence.name }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ residence.city }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ residence.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('residence_index') }}">Retour</a>

    <a href="{{ path('residence_edit', {'id': residence.id}) }}">Modifier</a>

    {{ include('residence/_delete_form.html.twig') }}
{% endblock %}
