<img src="{{ asset('build/images/header-sea2.png') }}" class="header-pic">
<div class="row head-block">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body d-flex align-items-center justify-content-around">

                <div>
                    <h4 class="card-title">Mes prochains rendez-vous</h4>
                    <div class="form-group">
                        <p><a href="">24/01/2020 Première journée d'intégration au siège</a></p>
                        <p><a href="">25/01/2020 Rencontre de mon manager</a></p>
                    </div>
                </div>

                <div class="icon">
                    <div class="icon-circle circle-rdv">
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body d-flex align-items-center justify-content-around">
                <div>
                    <h4 class="card-title">Mes contacts</h4>
                    <p><i class="fas fa-user-tie mr-3"></i> Manager : <b>{{app.user.manager.firstname}} {{app.user.manager.lastname}}</b></p>
                    <p><i class="fas fa-user-cog mr-2"></i> Référent métier : <b>{{app.user.referent}}</b></p>
                    <p><i class="fas fa-user-ninja mr-3"></i> Parrain : <b>{{app.user.mentor}}</b></p>
                </div>
                <div class="icon">
                    <div class="icon-circle circle-contact">
                        <i class="fas fa-user-cog"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body d-flex align-items-center justify-content-around">
                <div>
                    <h4 class="card-title"><a href="{{ path('profile', {'user': app.user.id }) }}">Mon profil</a></h4>
                    <div class="info user-info">
                        <h4 class="my-name"><b>{{ app.user.firstname }} {{ app.user.lastname }}</b></h4>
                        <h4>{{ app.user.position.name }}</h4>
                    </div>
                </div>
                <div class="icon">
                    <div class="icon-circle circle-profile">
                        <i class="fas fa-user-circle"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


