<div class="navigation vertical-nav" id="sidebar">
    <div class="nav-content">
        <div class="cornerlogo">
            <div class="logo-circle">
                <img src="{{ asset('build/images/logo.png') }}" alt="logo">
            </div>
        </div>
        <div class="menus">
            <p class="nav-title font-weight-bold text-uppercase text-center px-2 small py-4 mb-0">Mon Welcome Pack</p>

            <ul class="nav flex-column mb-0">
                {% if is_granted('ROLE_COLLABORATOR') %}
                    <li class="nav-item">
                        <a href="{{ path('timeline', {'user': app.user.id }) }}#active" class="nav-link">
                            <i class="fas fa-walking mr-3 fa-fw"></i>
                            Parcours
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('checklist_item_checklist', {'user': app.user.id }) }}" class="nav-link">
                            <i class="fas fa-tasks mr-3 fa-fw"></i>
                            Checklist
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{{ path('toolbox') }}" class="nav-link">
                        <i class="fas fa-toolbox mr-3 fa-fw"></i>
                        Boîte à outils
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('info') }}" class="nav-link">
                        <i class="fas fa-cubes mr-3 fa-fw"></i>
                        Nemea
                    </a>
                </li>
            </ul>

            {% if is_granted('ROLE_MANAGER') %}
                <p class="nav-title font-weight-bold text-uppercase text-center px-2 small pb-4 pt-5 mb-0">Le coin du
                    manager</p>

                <ul class="nav flex-column mb-0">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-clipboard-list mr-3 fa-fw"></i>
                            Checklist
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('manager_show', {'user': app.user.id }) }}" class="nav-link">
                            <i class="fas fa-users mr-3 fa-fw"></i>
                            Collaborateurs
                        </a>
                    </li>
                </ul>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <p class="nav-title font-weight-bold text-uppercase text-center px-2 small py-4 mb-0">Gestion</p>
                <ul class="nav flex-column mb-0">
                    <li class="nav-item">
                        <a href="{{ path('user_index') }}" class="nav-link">
                            <i class="fas fa-users mr-3 fa-fw"></i>
                            Collaborateurs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('checklist_item_index') }}" class="nav-link">
                            <i class="fas fa-tasks mr-3 fa-fw"></i>
                            Checklist
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('integration_step_index') }}" class="nav-link">
                            <i class="fas fa-walking mr-3 fa-fw"></i>
                            Parcours
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('content_index') }}" class="nav-link">
                            <i class="fas fa-file-word mr-3 fa-fw"></i>
                            Contenu
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('image_index') }}" class="nav-link">
                            <i class="fas fa-images mr-3 fa-fw"></i>
                            Images
                        </a>
                    </li>
                </ul>
            {% endif %}
            <br>
            <ul class="nav flex-column mb-0">
                <li class="nav-item">
                    {% if app.user %}
                        <a href="{{ path('app_logout') }}" class="nav-link">
                            <i class="fas fa-sign-out-alt mr-3 fa-fw"></i>
                            Déconnexion
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
