{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Ma liste de choses à faire</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(formTodo) }}
                        <div class="form-group">
                            {{ form_widget(formTodo) }}
                            <button class="btn btn-primary">Mettre à jour</button>
                        </div>
                        {{ form_end(formTodo) }}
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Mes documents</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(formDoc) }}
                        <div class="form-group">
                            {{ form_widget(formDoc) }}
                            <button class="btn btn-primary">Mettre à jour</button>
                        </div>
                        {{ form_end(formDoc) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
