{% extends 'layout.html.twig' %}

{% block title %}Document index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Toutes les documents</h1>

        <a href="{{ path('document_new') }}" class="btn btn-primary mb-3">Ajouter un document</a>

        <table class="table">
            <thead>
            <tr>
                <th>Document</th>
                <th>URL du document</th>
                <th>Ajouté le</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for document in documents %}
                <tr>
                    <td><img src="/upload/{{ document.documentName }}" alt="vignette" class="vignette"></td>
                    <td><input class="copy-text" type="text" id="text-box" size="20" value="/upload/{{ document.documentName }}"> <a title="Copier l'URL"> <i class="fas fa-copy copy-button ml-2"></i></a></td>
                    <td>{{ document.createdAt ? document.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('document_show', {'id': document.id}) }}">Voir</a>
                        <a href="{{ path('document_edit', {'id': document.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun document</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('copyURL') }}
{% endblock %}

