{% extends 'layout.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card w-100 m-auto">
                    <div class="card-header text-center">
                        <h1>L'index des utilisateurs</h1>
                    </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Rôle</th>
                                    <th>Email</th>
                                    <th>Téléphone</th>
                                    <th>Date d'entrée</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.lastname }}</td>
                                    <td>{{ user.role.name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.telephone }}</td>
                                    <td>{{ user.startDate ? user.startDate|date ("d/m/Y") : '' }}</td>
                                    <td>
                                        <a class="text-decoration-none" href="{{ path('user_show', {'id': user.id}) }}">Voir</a>
                                        <a class="text-decoration-none" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="13">aucun enregistrement</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    <div class="col-md">
                        <a class="btn btn-primary mb-3" href="{{ path('user_new') }}">Créer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
