{% extends 'layout.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <div class="card w-100 m-auto">
                    <div class="card-header text-center">
                        <h1 class="">Gestion des utilisateurs</h1>
                    </div>
                    <div class="text-center my-2">
                        <a class="btn btn-primary" href="{{ path('user_new') }}">Ajouter un utilisateur</a>
                    </div>
                    <div class="text-center my-2">
                        {{ form_start(form) }}
                        {{ form_row(form.searchField) }}
                        <button class="btn btn-primary" type="submit" name="btnSearch">Rechercher</button>
                        {{ form_end(form) }}
                    </div>
                        <table class="table">
                            <thead>
                                <tr class="text-center">
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Rôle</th>
                                    <th>Email</th>
                                    <th>Téléphone</th>
                                    <th>Date d'entrée</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr class="text-center">
                                    <td class="align-middle">{{ user.lastname }}</td>
                                    <td class="align-middle">{{ user.firstname }}</td>
                                    <td class="align-middle">{{ user.role.name }}</td>
                                    <td class="align-middle">{{ user.email }}</td>
                                    <td class="align-middle">{{ user.telephone }}</td>
                                    <td class="align-middle">{{ user.startDate ? user.startDate|date ("d/m/Y") : '' }}</td>
                                    <td class="align-middle">
                                        <a class="text-decoration-none" href="{{ path('profile', {'user': user.id}) }}">Voir</a>
                                        <a class="text-decoration-none" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="13">Aucun enregistrement</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
