{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>Profil</h1>
        </div>

        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                <div class="card profile-card">
                    <div class="card-header">
                        <h3>{{ user.firstname }} {{ user.lastname }}</h3>
                    </div>
                    <div class="card-body d-flex align-items-center justify-content-around">
                        <div>
                            <p>Email : <b>{{ user.email }}</b></p>
                            <p>Date d'arrivée à Néméa : <b>{{ user.startDate|date ("d/m/Y") }}</b></p>
                            <p>Résidence : <b>{{ user.residence.name }} à {{ user.residence.city }}</b></p>
                            {% if is_granted('ROLE_COLLABORATOR') %}
                                <p>Référent : <b>{{ user.referent }}</b></p>
                                <p>Parrain : <b>{{ user.mentor }}</b></p>
                                <table>
                                    <tr>
                                        <td>Checklist :</td>
                                        <td class="progress-td">
                                            <div class="progress" style="height: 20px; width: 90%;">
                                                <div class="progress-bar progress-bar-striped" role="progressbar"
                                                     style="width: {{ checklist }}%"
                                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Intégration :</td>
                                        <td>
                                            <div class="progress" style="height: 20px; width: 90%;">
                                                <div class="progress-bar progress-bar-striped bg-info"
                                                     role="progressbar"
                                                     style="width: {{ integration }}%"
                                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                            {% endif %}
                            {% if is_granted('ROLE_MANAGER') %}
                                <p><a href="{{ path('manager_show', {'user': app.user.id }) }}">
                                        Mes collaborateurs
                                    </a></p>
                            {% endif %}
                        </div>
                        <div class="profile-pic">
                            <img src="{{ user.picture }}" alt="image de profil">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
